@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'https://fonts.googleapis.com/css2?family=Abril+Fatface&family=League+Spartan:wght@100;400;700&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: 'League Spartan', sans-serif;
  font-size: 50px;
  font-weight: 700 !important;
  color: white;
}
.container-fluid {
  font-family: 'League Spartan', sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: white;
}

.body {
  background: rgb(12, 12, 33);
  color: white;
  font-family:'league spartan', sans-serif;
  font-weight: 700;
}

.custom-navbar {
  background: linear-gradient(60deg, #00034d, #00686a);
}

.bi-eye {
  font-size: 40px;
}

.watchlist-button {
  border: none;
  background: none;
  align-items: left;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  font-family: 'League Spartan', sans-serif;
  background: rgb(9, 20, 67);
}

.logo-container {
  flex: 2;
  align-items: center;
  text-decoration: none;
}

.logo {
  font-family: 'League Spartan', sans-serif;
  padding: 0 70px 0 10px;
  font-size: 40px;
  font-weight: 700;
  background-image: linear-gradient(60deg, #00a6ff, #42d80c);
  background-clip: text;
  color: transparent;
}

.content-container {
  padding-top: 400px;
  position: relative;
  z-index: 1;
}

.content-container {
  position: relative;
}

.backdrop-container {
  height: 675px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 86px;
  width: 100%;
  z-index: 0;
}

.backdrop-wrapper {
  height: 675px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 1200px;
  z-index: 0;
}

.backdropimage {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 99.95%;
  position: absolute;
  width: 100%;
}

.backdropmask {
  padding-top: 500px;
  position: relative;
}

.backdropmask::before {
  background-image: linear-gradient(
      90deg,
      rgba(12, 12, 33, 0.986) 0,
      rgba(12, 12, 33, 0.986) 0.97%,
      rgba(12, 12, 33, 0.945) 2.07833333%,
      rgba(12, 12, 33, 0.883) 3.29666667%,
      rgba(12, 12, 33, 0.803) 4.60166667%,
      rgba(12, 12, 33, 0.711) 5.96666667%,
      rgba(12, 12, 33, 0.61) 7.365%,
      rgba(12, 12, 33, 0.504) 8.77166667%,
      rgba(12, 12, 33, 0.398) 10.16%,
      rgba(12, 12, 33, 0.296) 11.505%,
      rgba(12, 12, 33, 0.203) 12.78%,
      rgba(12, 12, 33, 0.122) 13.95833333%,
      rgba(12, 12, 33, 0.059) 15.01666667%,
      rgba(12, 12, 33, 0.016) 15.92833333%,
      rgba(12, 12, 33, 0) 16.66666667%,
      rgba(12, 12, 33, 0) 83.33333333%,
      rgba(12, 12, 33, 0.016) 84.07166667%,
      rgba(12, 12, 33, 0.059) 84.98333333%,
      rgba(12, 12, 33, 0.122) 86.04166667%,
      rgba(12, 12, 33, 0.203) 87.22%,
      rgba(12, 12, 33, 0.296) 88.495%,
      rgba(12, 12, 33, 0.398) 89.84%,
      rgba(12, 12, 33, 0.504) 91.22833333%,
      rgba(12, 12, 33, 0.61) 92.635%,
      rgba(12, 12, 33, 0.711) 94.03333333%,
      rgba(12, 12, 33, 0.803) 95.39833333%,
      rgba(12, 12, 33, 0.883) 96.70333333%,
      rgba(12, 12, 33, 0.945) 97.92166667%,
      rgba(12, 12, 33, 0.986) 99.03%,
      rgba(12, 12, 33, 0.986)
    ),
    linear-gradient(
      0deg,
      rgba(12, 12, 33, 0.986) 0,
      rgba(12, 12, 33, 0.986) 21.48148148%,
      rgba(12, 12, 33, 0.986) 23.63703704%,
      rgba(12, 12, 33, 0.945) 26.1%,
      rgba(12, 12, 33, 0.883) 28.80740741%,
      rgba(12, 12, 33, 0.803) 31.70740741%,
      rgba(12, 12, 33, 0.711) 34.74074074%,
      rgba(12, 12, 33, 0.61) 37.84814815%,
      rgba(12, 12, 33, 0.504) 40.97407407%,
      rgba(12, 12, 33, 0.398) 44.05925926%,
      rgba(12, 12, 33, 0.296) 47.04814815%,
      rgba(12, 12, 33, 0.203) 49.88148148%,
      rgba(12, 12, 33, 0.122) 52.5%,
      rgba(12, 12, 33, 0.059) 54.85185185%,
      rgba(12, 12, 33, 0.016) 56.87777778%,
      rgba(12, 12, 33, 0) 58.51851852%
    );
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 675px;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 1200px;
  z-index: 0;
}


.custom-card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.custom-card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


/* homepage */

.homepage-container{
  padding:30px 0px 40px 0px;
  /* background-color: #242121; */
  background-image: linear-gradient( #00686a,rgb(70, 148, 117));
  border-radius: 10px;
  text-align: center;
}
.homepage-container h1 {
  text-align: center;
}
.homepage-container h6 {
  text-align: center;
}
.logo-image{
  width: 70px;
  position: right;
}
.homepage-container button {
  padding: 10px;
  border-radius: 10px;
  background-color: #349f0d;
  color:#f9f9f9;
  border-style: none;
  margin: 20px;
}


/* user profile */
.profile-container{
  padding:20px 0px 0px 0px;
  margin-bottom: 30px;;
}

.user-container{
  padding: 20px 0px 30px 0px;
  background-color: #242121;
  /* background-image: linear-gradient(180deg, #FF5F05,#ff61054d, #ff610504); */
  background-image: linear-gradient(180deg, #00034d, #05075073, #04075d82, #00034d4d, #03033070);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.user-container h1{
  text-align: left;

}
.user-container button{
  padding: 10px;
  border-radius: 10px;
  background-color: #349f0d;
  color:#f9f9f9;
  border-style: none;
  text-align: center;
  margin: 10px;
}
.profile-image{
  width: 70px;
}
 .profile-link{
  color: white;
  text-decoration: none;

 }
.media-scroller {
  /* --_spacer: var(--size-3); */
  display: grid;
  gap: 4px;
  /* gap: var(--_spacer); */
  grid-auto-flow: column;
  grid-auto-columns: 21%;

  padding: 0 var(--_spacer) var(--_spacer);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}
.media-element :hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.review-container{
  padding: 20px;
}
.review-form{
  background-color: #ffffff37;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  text-align: left;
  color: rgb(6, 6, 6);
}
.review-form h1{
  color: black;
  font-size: 18px;
}
.review-form input{
  border-radius: 10px;
  background-color: #dae4e4;
  color:#f9f9f9;
  border-style: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.review-form button{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #349f0d;
  color:#f9f9f9;
  border-style: none;
  text-align: center;
}

.review-card{
  background-color: #544f4f2f;
  border-radius: 4px;
  padding: 20px 0px 20px 0px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}
.review-card img{
  aspect-ratio: 2/3;
  object-fit: cover;
}

.review-card h5{
  font-size: 16pt;
  padding: 20px 0px 20px 0px;


}

/* signup and login form */
.signup-form{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  color: rgb(6, 6, 6);
}
.signup-form h1{
  color: black;
}
.signup-form button{
  padding: 10px;
  border-radius: 10px;
  background-color: #349f0d;
  color:#f9f9f9;
  border-style: none;
  text-align: center;
}

.signup-form input{
  border-radius: 10px;
  background-color: #afcbca;
  color:#f9f9f9;
  border-style: none;
  border-radius: 10px;
}

.form-control{
  border-radius: 10px;
  background-color: #442c1d;
  color:#f9f9f9;
  border-style: none;
  border-radius: 10px;
}
